body{
  background: #193739;
}

h1{
  color: #FFF;
  font-family: Carattere;
  margin: 50px;
}

.text{
  color: #FFF;
  text-align: center;
  margin-top: 200px;
}

a{
  color: white;
  text-decoration: underline;
}
a:link {
 
color: white;
text-decoration:underline;
 
}
a:visited {
 
color: gray;
text-decoration:underline;
 
}
a:hover {
 
color: pink;
text-decoration:underline;
 
}

